@import "bootstrap-sprockets";
@import "bootstrap";


/*adding this for the nav bar */
body {
  padding-top: 50px;
}


/* Navbar Styling */

.navbar {
	border-top: 10px;
	border-color: #000000;
	min-height: 40px;
	max-height: 50px;
	margin-bottom: 2px;
	padding-bottom: 1px;
	background-color: white;
	font-color: #FFFFFF;

}

.navbar-default .navbar-brand {
  font-size: 1.8em;
  font-weight: 400;
  font-family: "HelveticaNeue-Light";
  color: #33CCCC;

}


.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #33CCCC;
  border-bottom-color: #33CCCC;
}

.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #33CCCC;
  border-bottom-color: #ff0000;
}

/*set individual nav option */
.navbar .nav > li > a {
    color:  #000000;
    font-weight: 900;
    font-size: .9em;
}


.navbar .nav .dropdown-menu > li > a  {
        color:#000000;
        font-size: .9em;
        font-family: "Open Sans";
        font-weight: 500;
  }




  /* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}